.container{ 
    text-align: center;
    font-size: larger;
    font-family:sans-serif;
    margin: 100px;
    border : 2px solid black;
    padding : 50px;
    background-color:bisque;
   
}

.image{
    display:flex;
    justify-content: flex-end;
        
}
img{
    width:130px;
    height:130px;
}